<clr-header>
    <div class="branding">
        <a href="#" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span jhiTranslate="global.title" class="title"><%= capitalizedBaseName %></span>
        </a>
    </div>
    <div class="header-nav">
        <a href="#" class="nav-link nav-icon active">
            <clr-icon shape="cloud"></clr-icon>
        </a>
        <a href="#" class=" nav-link nav-icon">
            <clr-icon shape="folder"></clr-icon>
        </a>
    </div>
    <form class="search">
        <label for="search_input">
            <input id="search_input" type="text" placeholder="Search keyword...">
        </label>
    </form>
    <div class="header-actions" [ngSwitch]="isAuthenticated()">
        <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
                <clr-icon shape="cog"></clr-icon>
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                <label class="dropdown-header" jhiTranslate="global.menu.setting.settingLabel">Setting</label>
                <button type="button" clrDropdownItem jhiTranslate="global.menu.setting.profile">Profile</button>
                <button type="button" clrDropdownItem jhiTranslate="global.menu.setting.preferences">Preferences</button>
                <div class="dropdown-divider"></div>
                <label class="dropdown-header" jhiTranslate="global.menu.setting.userInterfaceLabel">User Interface</label>
                <clr-dropdown>
                    <button type="button" clrDropdownTrigger jhiTranslate="global.menu.setting.themeLabel">Theme
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-right">
                        <button type="button" clrDropdownItem jhiTranslate="global.menu.setting.lightTheme">
                            Light
                        </button>
                        <button type="button" clrDropdownItem jhiTranslate="global.menu.setting.darkTheme">
                            Dark
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>
                <clr-dropdown *ngIf="languages">
                    <button type="button" clrDropdownTrigger jhiTranslate="global.menu.setting.languageLabel">
                        Language
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-right">
                        <button *ngFor="let language of languages"
                                type="button"
                                clrDropdownItem
                                [<%=jhiPrefix%>ActiveMenu]="language" href="javascript:void(0);"
                                (click)="changeLanguage(language);collapseNavbar();">
                            {{language | findLanguageFromKey}}
                        </button>
                    </clr-dropdown-menu>
                </clr-dropdown>
                <div class="dropdown-divider"></div>
                <button type="button" clrDropdownItem jhiTranslate="global.menu.about">About</button>
                <button *ngSwitchCase="true" type="button" clrDropdownItem (click)="logout()"
                        jhiTranslate="global.menu.account.logout">Log out
                </button>
                <button *ngSwitchCase="false" type="button" clrDropdownItem [routerLink]="['/login']"
                        jhiTranslate="global.menu.account.login">Sign in
                </button>
                <button *ngSwitchCase="false" type="button" clrDropdownItem routerLink="register"
                        jhiTranslate="global.menu.account.register">Register
                </button>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</clr-header>
<nav class="subnav" [clr-nav-level]="1">
    <ul class="nav" [ngSwitch]="isAuthenticated()">
        <li class="nav-item">
            <a routerLink="/" class="nav-link"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: true}"
               jhiTranslate="global.menu.home">
                Home
            </a>
        </li>
        <li class="nav-item" *<%=jhiPrefix%>HasAnyAuthority="'ROLE_ADMIN'">
            <a routerLink="/admin" class="nav-link"
               routerLinkActive="active"
               [routerLinkActiveOptions]="{exact: false}"
               jhiTranslate="global.menu.admin.main">
                Administration
            </a>
        </li>
    </ul>
</nav>
