<div class="box">
        <div class="row label-group" *ngIf="this.selected.length > 0">
            <div class="col-sm-12">
                <span class="label" *ngFor="let item of this.selected" (click)="remove(item)">
                    {{item.name}}
                    <clr-icon shape="window-close"></clr-icon>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-outline btn-sm" (click)="openSelectModal()">选择</button>
                <button class="btn btn-danger-outline btn-sm remove" (click)="removeAll()" *ngIf="this.selected.length > 0">清空</button>
            </div>
        </div>
    </div>
