<div class="box">
    <p class="p6">{{<% if (enableTranslation){ %>'<%= angularAppName %>.<%= entityTranslationKey %>.home.title'<% }else{ %>'<%= entityClassPlural %>'<% } %> | translate}}</p>
    <div class="row label-group">
        <div class="col-sm-12">
            <span class="label" *ngFor="let item of selected" (click)="remove(item)">
                {{item.id}}
                <clr-icon shape="window-close"></clr-icon>
            </span>
            <span *ngIf="selected.length < 1">
                {{'entity.filter.none' | translate}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="foot-btn-group">
                <button 
                    class="btn btn-sm btn-link btn-danger-outline remove-all"
                    (click)="removeAll()"
                    *ngIf="selected.length > 0"
                >
                    {{'entity.filter.clear' | translate}}
                </button>
                <button class="btn btn-outline btn-sm btn-link" (click)="openSelectDialog()">
                    {{'entity.filter.select' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>
