<div style="width: 360px" (keyup.enter)="close($event)">
  <p class="p6">{{(value.enableAdvancedFilter ? 'entity.filter.filterTitle' : 'entity.filter.timeFilterTitle') | translate}}</p>
  <br/>
  <div class="time-range row" *ngIf="value.type === timeRangeType">
    <div class="col-sm-12">
      <input type="time" placeholder="{{'entity.filter.startTime' | translate}}" [(ngModel)]="value.min" (ngModelChange)="submit()"/>
      <b>~</b>
      <input type="time" placeholder="{{'entity.filter.startTime' | translate}}" [(ngModel)]="value.max" (ngModelChange)="submit()"/>
    </div>
  </div>

  <div class="advanced-filter" *ngIf="value.type === timeAdvancedType">
    <div class="row">
      <div class="col-sm-4">
        <div class="select condition">
          <select [(ngModel)]="value.primarySymbol" (ngModelChange)="submit()">
            <option [value]="null">{{'entity.filter.symbol.noChoice' | translate}}</option>
            <option [value]="EQUAL">{{'entity.filter.symbol.equal' | translate}}</option>
            <option value="NOT_EQUAL">{{'entity.filter.symbol.notEqual' | translate}}</option>
            <option value="GREATER_THAN_EQUAL">{{'entity.filter.symbol.greaterThanEqual' | translate}}</option>
            <option value="LESS_THAN_EQUAL">{{'entity.filter.symbol.lessThanEqual' | translate}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-8">
        <input type="time" [(ngModel)]="value.primaryValue" (ngModelChange)="submit()"/>
      </div>
    </div>
    <div *ngIf="value.primaryValue">
      <div class="row">
        <div class="col-sm-12">
          <div  class="check-box">
            <div class="radio-inline">
              <input type="radio" name="relationship" id="{{property}}-radio-box" value="AND" [(ngModel)]="value.relationship" (ngModelChange)="submit()">
              <label for="{{property}}-radio-box">{{'entity.filter.relationship.and' | translate}}</label>
            </div>
            <div class="radio-inline" style="margin-left: 10px">
              <input type="radio" name="relationship" id="{{property}}-radio-box" value="OR" [(ngModel)]="value.relationship" (ngModelChange)="submit()">
              <label for="{{property}}-radio-box">{{'entity.filter.relationship.or' | translate}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="select condition">
            <select [(ngModel)]="value.secondarySymbol" (ngModelChange)="submit()">
              <option [value]="null">{{'entity.filter.symbol.noChoice' | translate}}</option>
              <option [value]="EQUAL">{{'entity.filter.symbol.equal' | translate}}</option>
              <option value="NOT_EQUAL">{{'entity.filter.symbol.notEqual' | translate}}</option>
              <option value="GREATER_THAN_EQUAL">{{'entity.filter.symbol.greaterThanEqual' | translate}}</option>
              <option value="LESS_THAN_EQUAL">{{'entity.filter.symbol.lessThanEqual' | translate}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-8">
          <input type="time" [(ngModel)]="value.secondaryValue" (ngModelChange)="submit()"/>
        </div>
      </div>
    </div>
  </div>

  <div class="foot">
    <div class="toggle-switch">
      <input type="checkbox" id="filter-switch" [(ngModel)]="value.enableAdvancedFilter" (ngModelChange)="submit()">
      <label for="filter-switch" style="line-height: 24px">{{'entity.filter.filterTitle' | translate}}</label>
    </div>
  </div>
</div>